.wrap, .banner-controll {
  overflow: hidden;
}

.wrap {
  position: relative;
  margin-top: 30px;
  border: 1px solid #9cc5ef;
  width: 300px;
  height: 200px;
}

.slider {
  width: 300%;
  color: #fff;
}

.slider li {
  float: left;
  width: 300px;
  height: 100%;
}

.slider li,
.banner-controll {
  position: absolute;
}

.slider,
.banner-controll a {
  text-align: center;
}

.slider li:nth-child(1) {
  background-color: #6bacef;
}

.slider li:nth-child(2) {
  background-color: #297cd3;
}

.slider li:nth-child(3) {
  background-color: #01254a;
}

.slider li:target {
  z-index: 2;
  animation: scroll 500ms linear;
}

@keyframes scroll {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

.banner-controll {
  bottom: 0;
  right: 0;
  z-index: 10;
}

.banner-controll a {
  display: inline-block;
  margin-left: 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-color: #fff;
  color: #000;
}
